*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.header{
    font-family: 'Kaushan Script', cursive;
    color:rgba(255, 255, 0, 0.55);
   font-size: 50px;
   
  

}
.navbar{
    background-color:purple;
    padding-left:50px;
    font-size: medium;
    color:black;
}
#a1{
    color:rgba(255, 255, 0, 0.55);
    font-size: x-large;
}
#a2{
    color:rgba(255, 255, 0, 0.55);
    font-size: x-large;
}
#a3{
    color:rgba(255, 255, 0, 0.55);
    font-size: x-large;

}
#a4{
    color:rgba(255, 255, 0, 0.55);
    font-size: x-large;
}
    
#a1:hover{
    color:blueviolet;
    opacity: 0.3s;
}
#a2:hover{
    color:blueviolet;
    opacity: 0.3s;
}
#a3:hover{
    color:blueviolet;
    opacity: 0.3s;
}
#a4:hover{
    color:blueviolet;
    opacity: 0.3s;
}
.about-us{
    font-family:cursive;
    
    font-size:xx-large;
}
.heading{
    margin-top: 25px;
    padding: 12px;
    text-align: center;
   
    font-family:'Times New Roman', Times, serif;
    
   
}
.about-us{
    font-family: 'Caveat';
}
.card img{
    min-width: 50%;
    max-height: 300px ;
}
.nav-item{
    padding-left: 35px;
    font-weight:bolder;
    color: brown;
}
.bg-img-1{
    background-image: url(image1.jpg);
}
.bg-img-2{
    background-image: url(image2.jpg);
}
.bg-img-3{
    background-image: url(image3.jpg);
}
.bg-img-4{
    background-image: url(image4.jpg);
}
.carousel-image{
    height:100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
